@import 'admin-mobile';

.admin {
    .home {
        grid-template-columns: 15% 1fr 15%;
        .titlebox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            align-items: center;
            justify-self: center;
            h1 {
                text-align: center;
            }
            h3 {
                text-align: center;
                font-size: 2.5rem;
            }
            a {
                justify-self: center;
                align-self: center;
            }
        }
        .logout-container {
            grid-column: 2 / 3;
            justify-self: right;
            a {
                background: none;
                padding: 0;
                color: #0084ff;
                font-size: 1.5rem;
            }
        }
    }
    overflow: hidden;
    .overview {
        background: none;
        display: grid;
        width: 100vw;
        height: 100vh;
        margin: auto;
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        .panel {
            width: 100%;

            border-radius: 50px;
            background: #ffffff;
            box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;

            padding: 2rem;
            overflow: hidden;
            h2 {
                padding: 0;
                margin: 0;
                font-size: 3rem;
            }
            .data-container {
                overflow-y: scroll;
                height: calc(100% - 4rem);
                .job-item {
                    width: 100%;
                    padding: 1rem 0;
                    border-width: 1px;
                    border-color: rgb(160, 160, 160);
                    border-bottom-style: solid;
                    h3 {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
