canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

canvas:focus {
    outline: none;
}

.home {
    display: grid;
    grid-template-columns: 15% 30% 40% 15%;
    grid-template-rows: 10% 90%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    object-fit: contain;

    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(180,180,180,1) 100%);

    .titlebox {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: left;
        h3 {
            color: rgb(70, 70, 70);
            margin-bottom: 3rem;
        }
        z-index: 2;
    }

    .img-container {
        display: none;
        position: absolute;
        top: 10vh;
        left: 42vw;
        z-index: 1;
        width: 100%;
        max-height: 80vh;
        overflow: hidden;
        img {
            width: 137%;
            max-height: 80vh;
            object-fit: cover;
        }
    }

    .three-container {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        max-width: 100%;
        max-height: 100%;
        width: 800px;
        height: 600px;
    }

    a {
        background-color: rgb(0, 132, 255);
        color: white;
        text-decoration: none;
        text-align: center;
        border-radius: 3rem;
        border: none;
        padding: 1rem 4rem;
        display: inline-block;
        font-weight: 600;

        grid-column: 2 / 3;
        grid-row: 3 / 4;

        align-self: start;
        justify-self: right;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
    }
}