.order {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(180,180,180,1) 100%);
    cursor: default;
    h2 {
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    h3 {
        text-align: center;
        padding-top: 1rem;
    }
    form {
        font-size: 1.5rem;
        width: 60%;
        margin: auto;
        .form-control {
            font-size: 1.2rem;
            padding: 1.5rem 1rem;
            border-radius: 0.5rem;
        }
        #form-amount {
            display: flex;
            justify-content: space-evenly;
        }
        button {
            margin-top: 1rem;
            width: 100%;
            background-color: rgb(0, 132, 255);
            color: white;
            font-weight: 600;
            font-size: 2rem;
            border-style: none;
            border-width: 1px;
            padding: 1rem 1rem;
            border-radius: 0.5rem;
        }
    }
    .smaller {
        width: 60%;
        padding: 1rem;
        margin: auto;
        text-align: center;
        font-size: 1.2rem;
    }
}