.form-container {
    width: 100vw;
    height: 100vh;
    form {
        width: 30%;
        margin: auto;
        padding-top: 5%;
    }
}

@media screen and (orientation: portrait) {
    .form-container {
        form {
            width: 80%;
            padding-top: 30%;
        }
    }
}