@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
}

section {
    height: 100vh;
}

canvas {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.home {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    object-fit: contain;

    .title-container {
        text-align: center;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .three-container {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-width: 100%;
        max-height: 100%;
        width: 800px;
        height: 600px;
    }

  button {
    background-color: green;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 2rem;
    border: none;
    padding: 1rem 2rem;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;

    grid-column: 3;
    grid-row: 3;
  }
  button:hover {
    cursor: pointer;
  }
}

.order {
}
